body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
}

section {
  flex-basis: 200px;
  margin: 0 auto 25px;
  background-color: white;
}

header {
  color: white;
}

h1 {
  text-align: center;
  text-decoration: line-through;
}

h2 {
  color: red;
  padding-bottom: 15px;
  border-bottom: 2px solid blue;
}

a {
  color: blue;
}

a:hover {
  color: red;
}

.software {
  text-align: center;
  color: green;
  font-size: 18px;
}

.Blue {
  color: blue;
}

.Red {
  color: red;
}

.Green {
  color: green;
}

.tagline {
  text-align: center;
}

img {
  height: 200px;
  width: 300px;
  padding-left: 5px;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
